<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>NEW FLIGHT</title>
</head>
<nav><a href="/flights/new">ADD A FLIGHT</a><a href="/flights">ALL FLIGHTS</a></nav>
<body>
    <h2>Enter a New Flight</h2>
<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label><br>
        <select name="airline">
            <option selected>Choose Airline</option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
        <label>Airport:</label><br>
        <select name="airport">
          <option value="KAUS">KAUS</option>
          <option value="KDEN" selected>KDEN</option>
          <option value="KDFW">KDFW</option>
          <option value="KLAX">KLAX</option>
          <option value="KMHR">KMHR</option>
          <option value="KSAN">KSAN</option>
          <option value="KSFO">KSFO</option>
          <option value="KSMF">KSMF</option>
        </select>
    <label>Flight Number:</label><br>
    <input type="number" name="flightNo" min="10" max="9999">
    <label>Departure:</label><br>
    <input type="datetime-local" name="departs">
    <input type="submit" value="Add Flight">
</form>
</body>
</html>